@using CRUDMVCRF.Models.ViewModel
@model List<ListPeopleViewModel>
@{
    Layout = null;
}

@foreach(var oPeople in Model)
  {
    <div>
        Nombre: @oPeople.Name<br />
        Edad: @oPeople.Age

        <input type="button" value="editar" />
        <input type="button" value="eliminar" />
    </div>              
  }



