@using CRUDMVCRF.Models.ViewModel
@model List<ListPeopleViewModel>
@{
    Layout = null;
}

@foreach (var oPeople in Model)
{
    <div>
        Nombre: @oPeople.Name<br />
        Edad: @oPeople.Age

        <input type="button" value="editar" onclick="document.location.href ='@Url.Content("~/People/Edit/"+oPeople.Id)'" />
        <input type="button" value="eliminar" onclick="jsDelete(@oPeople.Id)" />
    </div>
}


